body {
	text-align: center;
	background: #FFEC94;
	width: 1899px;
	font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
}

div.container{
  width: 1518px;
  display: grid;
  grid-template-columns: 550px 108px 584px 110px auto;
  grid-template-rows: 60px 1fr 60px;
  grid-gap: 10px;
}

button {
	    background-color: #30BCED;
    border: none;
    color: #F4FFF2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
		height: 52px;
		width:108px;
		user-select: none;
}

button:hover{
	  box-shadow: 0 0 8px 4px #2183a5;
		cursor: pointer;
}

h1 {
	margin-top: 20px;
  margin-bottom: 20px;
	font: 50px 'Segoe UI';
  font-style: italic;
  font-weight: 600;
}

canvas {
	display: block;
	background: white;
	border-radius: 20px;
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start:1;
	grid-row-end:3;
}

a {
	color: black;
}

div.label {
	display: block;
	margin: 20px auto;
	font-size: 40px;
	text-align: left;
	line-height: 100%;
	max-width: 550px;
	word-wrap: break-word;
}


div#entryActionContainer{
	width:550px;
	height:400px;
	background-color: white;
	border-color: black;
	border-width:  5px;
	margin: auto;
	font-size: 20px;
	text-align: left;
	overflow: auto;
}

#entryActions:focus {
	outline: none;
}

#actionArea {
	visibility: hidden;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
}

p {
	margin: 30px 0;
	line-height: 20px;
}

#clear{
  background-color: #ED1C24;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  margin-top: 8px;
}

#clear:hover{
  box-shadow: 0 0 5px 4px #A01317;
	cursor: pointer;
}

#clear:active, button:active{
  box-shadow: none;
	cursor: pointer;
}

#clear:focus{
    outline: none;
}

#save{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 15px;
}

#load{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 15px;
}

#compile{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-left: -15px;
}

.controlBox{
	display: flex;
	justify-content: space-between;
	align-items:center;
	margin-top: 15px;
	border-bottom: solid 1px #30BCED;
	padding-bottom: 5px ;
	clear: both;
}

.options_box{
	display: flex;
	justify-content:space-between;
	flex-grow: 40;
	border: 5px;
	padding-top:30px;
	padding-bottom: 30px;
	border-right: solid 4px #30BCED ;
	padding-right: 13px;
	width: 100%;
	order: 1;
}

.plus_container{
	overflow: hidden;
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
	border-bottom: solid 3px #30BCED;
}

#plusButton{
	font-size: 100px;
	color: #30BCED;
	user-select: none;
	font-weight: 430;
}

#plusButton:hover{
	text-shadow: 2px 5px 8px #79b4c9;
	cursor: pointer;
}

.minus_container{
	overflow: hidden;
	display: inline-block;
	font-size: 120px;
	user-select: none;
	font-weight: 350;
	flex-grow: 1;
	text-align: center;
	padding-bottom: 25px;
	color: #ED1C24;
	order: 2;
}
.minusButton:hover{
	text-shadow: 2px 5px 8px #bd161c;
	cursor: pointer;
}
#plusButton:active,.minusButton:active{
  text-shadow: none;
	cursor: pointer;
}

.output{
	display: inline-block;
	font-size: 30px;
}

.toggle, .numerical{
	width: 3.2em;
	display: inline-block;
	/* float: right; */
	font-size: 30px;
}

.boolean_container{
	text-align: center;
	height: 37px;
	overflow: hidden;
	background-color: #30BCED;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
}

.boolBefore{
	margin-top: 15px;
}

.boolean_options{
	font-size: 30px;
}

.booleanAddButton{
	float: left;
}
.booleanMinusButton{
	float: right;
}

.booleanMinusButton,.booleanAddButton{
	font-size: 70px;
	display: inline-block;
	user-select: none;
	color: #fff;
}

.booleanMinusButton:hover,.booleanAddButton:hover{
	text-shadow: 2px 5px 8px #757575;
	cursor: pointer;
}

#popUpWindowContainer{
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	z-index: 10;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
}

.popup-header{
	padding: 2px 16px;
	background-color: #E20007;
	color: white;
	width:600px;
	order: 1;
}

h2{
	font-size: 40px;
}

#popup-content{
	padding: 2px 16px;
	background-color: #fff;
	font-size: 22px;
	width: 600px;
	text-align: left;
	order: 2;
}

#popup-content-list>li{
	margin-top: 15px;
}

#closeButton{
  color: #ffffff;
  float: right;
  font-size: 35px;
  font-weight: 700;
	user-select: none;
}

#closeButton:hover,#closeButton:focus {
  color: #757575;
  text-decoration: none;
  cursor: pointer;
}
